<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<script type ="text/javascript">
    function isNumber(n) {
        return !isNaN(parseInt(n)) && isFinite(n);
    }
    function validateForm() {
        var description = document.forms["addForm"]["task_name"].value;
        var duration = document.forms["addForm"]["task_duration"].value;
        if (description == null || description == "")
        {
            alert("Description must be filled out");
            return false;
        }
        if (duration == null || duration == "") {
            alert("Duration must be filled out");
            return false;
        }
        if (!isNumber(duration))
        {
            alert("Duration must be a number");
            return false;
        }
        if (duration <= 0)
        {
            alert("Duration must be hgiher than 0");
            return false;
        }
    }
</script>

    <head>
        <title>ChronoSpark Extreme</title>
    </head>
    <body>
        <div>
            <form method="post" name="addForm" id="task-form" action="/task/addtask" onsubmit="return validateForm()">
                <h2>Add task</h2>
                Description: <input type="text" class="input-big" name="task_name" value="" />
                Duration:    <input type="text" class="input-big" name="task_duration" value="" />
                Client:      <input type="text" class="input-big" name="task_client" value="" />
                <input type="submit" name="send" value="Add" class="addtask-btn"/>
            </form>
        </div>

        <h2>Tasks</h2>
        <table>            
            <tr>
                <td>Id</td>
                <td>Description</td>
                <td>Time Elapsed</td>
                <td>State</td>
            </tr>
            @{
                foreach(var item in Model)
                {
                    var parts = item.Id.Split('/');
                    var idNumber = parts[1];
                    var hours = item.TimeElapsed.TotalHours;
                    var hoursInteger = (int)hours;
                    var hoursToPrint = hoursInteger.ToString();
                    var minutes = item.TimeElapsed.Minutes;
                    var seconds = item.TimeElapsed.Seconds;
                    var toDisplay = hoursToPrint + ":" + minutes + ":" + seconds;
                    
                    <tr>
                    <td>@idNumber</td>
                    <td>@item.Description</td>
                    <td>@toDisplay</td>
                    <td>@item.State</td>                     
@*                        <form method="post" name="editForm" id="edit-form" action="/task/getbyid" >
                            <input type="hidden" class="id" name="task_id" value=@item.Id />*@

                        <td>
                                    <form method="post" name="editForm" id="edit-form" action="/task/getbyid" >
                                        <input type="hidden" class="id" name="task_id" value= "@item.Id" />
                                        <a href="#">
                                            <input type="submit" name="edit" value="edit" class="edittask-btn"/>                                      
                                        </a>
                                    </form>

                            </td> 
                        @{ 
                        if(item.State == ChronoSpark.Data.Entities.TaskState.Paused){
                            <td>                        
                                <form method="post" name="activateform" id="activate-form" action="/task/activatetask" >
                                    <input type="hidden" class="id" name="task_id" value= "@item.Id" />
                                    <a href="#">
                                        <input type="submit" name="activate" value="activate" class="activate-btn"/>
                                    </a>
                                </form>
                            </td>
                        }
                        if(item.State == ChronoSpark.Data.Entities.TaskState.InProgress){
                            <td>
                                
                                <form method="post" name="pauseform" id="pause-form" action="/task/pauseactivetask" onsubmit="" >
                                    <input type="hidden" class="id" name="task_id" value= "@item.Id" />
                                    <input type="hidden" class="state" name ="task_state" value="@item.State" />
                                    <a href="#">
                                        <input type="submit" name="pause" value="pause" class="pause-btn"/>
                                    </a>
                                </form>
                            </td>
                        }
                        if(item.State != ChronoSpark.Data.Entities.TaskState.Finished){
                        <td>
                            <form method="post" name="finishform" id="finish-form" action="/task/finishtask" >
                                <input type="hidden" class="id" name="task_id" value= "@item.Id" />
                                <input type="hidden" class="state" name ="task_state" value="@item.State" />
                                <a href="#">
                                    <input type="submit" name="finish" value="finish" class="finish-btn"/>
                                </a>
                            </form>
                        </td>
                        }
                        }
                    </tr> 
                }
            }
        </table>
    </body>
</html>